li {
    list-style: none;
    padding-bottom: 6px;
}



img {
    border-radius: 50%;
    float:right;
    display:block;
    
}

.container{
    height: 380px;
    width: 920px;
    float:left;
    background: #FFFDD0;
    display: flex;
}

p{
    text-align: left;
    text-transform: capitalize;
}

.top{
    margin: 0px;
    font-size: 300%;
    background: black;
    color: white;
    width: 918px;
    text-align: center;
}

.first{
    padding-right: 40px;
}

.second{
    flex-wrap: nowrap;
    padding-left: 40px;
   
}
